---
import RandomTotal from "../components/RandomTotal";
import Layout from "../layouts/Layout.astro";
import FlipGame from "../components/FlipGame";

import gods from "../../db/gods.json";
import roles from "../../db/roles.json";
import items_tier_3 from "../../db/items_tier_3.json";
import challenges from "../../db/challenges.json";

const excluitedItems = [
  "Aladdin Lamp",
  "Vulcan Alternator Mod",
  "Vulcan Dual Mod",
  "Vulcan Efficiency Mod",
  "Vulcan Masterwork Mod",
  "Vulcan Resonator Mod",
  "Vulcan Seismic Mod",
  "Vulcan Shrapnel Mod",
  "Vulcan Surplus Mod",
  "Vulcan Thermal Mod",
];

const filteredItems = items_tier_3.filter(
  (item) => !excluitedItems.includes(item.name)
);
---

<Layout>
  <div class="max-w-2xl mx-auto px-2 flex flex-col grow gap-10">
    <RandomTotal client:load gods={gods} roles={roles} items={filteredItems} />
    <FlipGame client:load gods={gods} challenges={challenges} />
  </div>
</Layout>
